@import "../../responsive.scss";

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

    @include sm {
      display: none;
    }

    &:hover {
      color: #feb47b;
    }
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;

    .logo {
      font-weight: bold;
      font-size: 24px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #feb47b;

      img {
        width: 32px;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      padding: 8px 16px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: #fff;

      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }

      span {
        margin-right: 10px;

        @include sm {
          display: none;
        }
      }

      .profile {
        position: relative; /* Ensure the notification is positioned relative to the profile button */
        padding: 8px 16px;
        background-color: #feb47b;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        
        .notification {
          position: absolute;
          top: -10px; /* Adjust top position to move the notification above the button */
          right: -10px; /* Adjust right position to align the notification properly */
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }

    .register {
      background-color: #feb47b;
      color: #333;
      border-radius: 4px;
      margin-left: 10px;

      &:hover {
        color: #fff;
      }
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -100%;
      background-color: #333;
      color: white;
      height: 100vh;
      width: 100%;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: block;
          padding: 10px 20px;
        }
      }
    }
  }
}


