* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  background: url('https://img.freepik.com/free-photo/empty-sea-beach-background_74190-313.jpg?t=st=1722758738~exp=1722762338~hmac=953be9415bcd8ccb3b8597477b94befd4e630c715f0fa484e90ebdb839397a1c&w=1060') no-repeat center center fixed;
  background-size: cover;
}
